@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* - Mobile: 375px
- Desktop: 1440px */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 13px;
}

:root {
  --clr-Moderate-violet: #7541c8;
  --clr-Very-dark-grayish-blue: #48556a;
  --clr-Very-dark-blackish-blue: #19212e;
  --clr-White: #ffffff;
  --clr-Light-gray: #cfcfcf;
  --clr-Light-grayish-blue: #ecf2f8;
  --clr-attribution-a: #3e52a3;

  --ff-barlow: "Barlow Semi Condensed", sans-serif;
}

body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    font-family: var(--ff-barlow);
    background-color: var(--clr-Light-gray);
    padding: 3rem;
}

img{
    clip-path: circle();
    height: 2.7rem;
    width: auto;
    border: 2px solid var(--clr-Light-gray);
    border-radius: 50%;
}

h3{
    color: var(--clr-Light-gray);
}
span{
    color: var(--clr-Light-gray);
    opacity: 50%;
}
.name{
    margin-left: 1.5rem;margin-bottom: 1rem;
}

.main-div{
    padding: 3rem;
}

.daniel{
    background-color: var(--clr-Moderate-violet);
    padding: 2rem;
    border-radius: 10px;
    /* position: relative; */
    /* margin: 4rem 2rem 0 2rem; */
}

.daniel-top{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 0 auto 1rem 0;
}

.quote-svg{
    border: none;
    border-radius: 0;
    clip-path: none;
    position: absolute;

    height: 8rem;
    opacity: 0.45;
    color: var(--clr-Light-gray);
    float: right;
    align-self:flex-end;
}
.daniel-middle{
    color: var(--clr-White);
    font-family: var(--ff-barlow);
    font-size: 1.65rem;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 1rem;
}
.daniel-bottom{
    margin-top: 1rem;
    opacity: 0.5;
    color: var(--clr-Light-grayish-blue);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 20px;
}

.jonathan{
    margin: 2rem 0 2rem 0;
    background-color: var(--clr-Very-dark-grayish-blue);
    padding: 2rem;
    border-radius: 10px;
}

.jonathan-top{
    display: flex;
}

.jonathan-middle{
    color: var(--clr-White);
    font-family: var(--ff-barlow);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.jonathan-bottom{
    color: var(--clr-Light-gray);
    opacity: 0.5;
    font-size: 1rem;
    line-height: 20px;
}
.jeanette{
    margin: 1rem 0 2rem 0;
    background-color: var(--clr-White);
    padding: 2rem;
    border-radius: 10px;
}
.jeanette-top{
    display: flex;
}
.jeanette h3, span{
    color: var(--clr-Very-dark-grayish-blue);
}
.jeanette-middle{
    color: var(--clr-Very-dark-grayish-blue);
    font-family: var(--ff-barlow);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.jeanette-bottom{
    color: var(--clr-Very-dark-grayish-blue);
    font-size: 1.2rem;
    opacity: 0.5;
}

.patrick{
    background-color: var(--clr-Very-dark-blackish-blue);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem 0 2rem 0;
}
.patrick-top{
    display: flex;
}
.patrick-top span{
    color: var(--clr-Light-gray);
}
.patrick-middle{
    color: var(--clr-White);
    font-family: var(--ff-barlow);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.patrick-bottom{
    color: var(--clr-White);
    font-size: 1.2rem;
    opacity: 0.5;
}

.kira{
    margin: 1rem 0 2rem 0;
    background-color: var(--clr-White);
    padding: 2rem;
    border-radius: 10px;
}
.kira-top{
    display: flex;
}
.kira h3, span{
    color: var(--clr-Very-dark-grayish-blue);
}
.kira-middle{
    color: var(--clr-Very-dark-grayish-blue);
    font-family: var(--ff-barlow);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.kira-bottom{
    color: var(--clr-Very-dark-grayish-blue);
    font-size: 1.2rem;
    opacity: 0.5;
}

@media screen and (min-width: 768px);
{
    body{
        display: flex;
        padding: 2rem;
        
    }

}